extends layout

block content
  a(href='https://github.com/RafikHamza')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Digital Banking Fintech 2022')
  .container
    h1 	 ......... Blockchain use cases in Digital Banking Fintech
    .embed-responsive.embed-responsive-16by9

      <iframe width="560" height="315" src="https://www.youtube.com/embed/aQWflNQuP_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    br
    p.pull-right by 
      a(href='https://www.tiu.ac.jp/etrack/') Prof. Rafik Hamza 
      | 